<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/mystyle.css" />
</head>
<body>
<main id="posts">
	<article>


			<table class="blueTable">
				<thead>
					<th>Grad</th>
					<th>Stanica</th>
					<th>SO2</th>
					<th>NO2</th>
					<th>NOX</th>
					<th>NO</th>
					<th>PM 10 um/24h</th>
					<th>PM 10 um/1h</th>
					<th>PM 2.5 um/24h</th>
					<th>CO</th>
					<th>O3</th>
					<th>Benzen</th>
					<th>dd</th>
					<th>Vetar</th>
					<th>Temperatura</th>
				</thead>

				<th:block th:each="fo, foStat : ${listAirQuality}">
					<tr>
						<td th:text="${fo.station.city.cityName}"></td>
						<td th:text="${fo.station.stationName}"></td>
						<td th:text="${fo.sulfurDioxide}"></td>
						<td th:text="${fo.nitrogenDioxide}"></td>
						<td th:text="${fo.monoNitrogenOxides}"></td>
						<td th:text="${fo.nitrogenOxide}"></td>
						<td th:text="${fo.particleTenMicrometerPerDay}"></td>
						<td th:text="${fo.particleTenMicrometerPerHour}"></td>
						<td th:text="${fo.particleTwoAndAHalfMicrometerPerDay}"></td>
						<td th:text="${fo.carbonOxide}"></td>
						<td th:text="${fo.ozon}"></td>
						<td th:text="${fo.benzen}"></td>
						<td th:text="${fo.dd}"></td>
						<td th:text="${fo.speed}"></td>
						<td th:text="${fo.temperature}"></td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</th:block>
	</article>
</main>
</body>
</html>